/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/03/2018, 12:49:36
    Author     : Gerc
*/

*{
    margin: 0;
}

body{
    background-color: snow;
    font-size: 15px;
    margin: 0 10px 0 10px;
}

#content{
    background-color: whitesmoke;   
    width: 100%;
}

#header{
    margin-top: 20px; 
    background-color: turquoise;
    height: 150px;
    padding: 15px;
    margin-bottom: 10px;
}

#nav{
    height: 50px;
    color: teal;
    font-size: 15px;
}

#nav ul{
    padding: 10px;
    text-align: right;
    float: right;
    background: teal;
}

#nav li{
    width: 300px;
    background: teal;
    padding: 10px;  
}

#nav ul li{
    display: inline;
}

#nav ul li a{
    text-decoration: none;
    color: white;
}

.titulo{
    background: cadetblue;
    line-height: 1.5;
    padding: 5px;
    text-align: center;
}

#article{
    background: blue;
    width: 60%;
}

.texto{
    text-align: justify;
    line-height: 1.2;
    font-family: "Times new Roman", Verdana, sans-serif;
    background: white;
    padding: 10px;
    margin: 0 5px 5px 5px;
    display: inline-block;
}

#sidebar{
    background: yellowgreen; 
    width: 30%;
    padding: 10px;
    float: right;
}
#sidebar ul li{
    display: inline-block;
}

#footer{
    background: cadetblue;
    height: 150px;
    padding: 15px;
}

